header, body, footer {
    background-color: white;
}
.logo {
    width: 130px;
    float: left;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img1 {
    width: 95vw;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.img2 {
    width: 96.5vw;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2D3F2B;
    color: #fff;
}

.dropdown {
    display: none;
}

.opening {
    background-color: #A7C087;
    display: flex;
    width: 98vw;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #2D3F2B;
}

.titlelogo  a {
    font-family: lobster, papyrus, baskerville;
    color: #2D3F2B;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

h1 {
font-family: lobster, papyrus, baskerville;
}

h2 {
    font-family: abel, arial, Arial, Helvetica, sans-serif;
}

h3 {
    font-family: lobster, papyrus, baskerville;
}

p {
    font-family: abel, arial, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.footercontainer {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.adressfooter {
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
    margin-left: 2%;
}

.policyfooter a {
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 2%;
}

.terms a {
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 2%;
}

.contactusfooter a {
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 2%;
}

.socialmedia {
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 1%;
}



@media screen and (max-width: 600px) {
    .logo {
        width: 80px;
        display: block;
        margin: 20px auto;
    }
    .titlelogo a {
        font-size: 0.7rem;
        display: block;
        text-align: center;
        margin-left: 5%;
        margin-top: 2%;
        font-family: lobster, papyrus, baskerville;
        padding-top: 3%;
    }
    ul {
        display: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 25%;
    }
       
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #2D3F2B;
    z-index: 1;
    }
       
    .dropdown-content a {
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
       
    .dropdown-content a:hover {background-color: #2D3F2B; color: white;}
       
    .dropdown:hover .dropdown-content {
    display: block;
    }
       
    .dropdown:hover .dropbtn {
    background-color: #2D3F2B;
    color: white;
    }

    .dropdown-content {
        width: 100%;
    }
    .opening {
        width: 96vw;
    }
    .footercontainer {
        flex-wrap: wrap;
    }
}