.logo {
    width: 130px;
    float: left;
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2D3F2B;
    color: #fff;
}


@media screen and (max-width: 600px) {
    #toggle-menu:checked + .toggle-button + nav .menu {
        display: flex;
    }
}

.titlelogo  a{
    font-family: lobster, papyrus, baskerville;
    color: #2D3F2B;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.opening {
    background-color: #A7C087;
    display: flex;
    justify-content: center;
    width: 98.5vw;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #2D3F2B;
}
h1 {
font-family: lobster, papyrus, baskerville;
}

h2 {
    font-family: abel, arial, Arial, Helvetica, sans-serif;
}

h3 {
    font-family: lobster, papyrus, baskerville;
}

p {
    font-family: abel, arial, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.footercontainer {
    display: flex;
    justify-content: space-around;
    padding: 14px 0;
    flex-wrap: wrap;
}

.adressfooter {
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
}

.policyfooter {
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
}

.contactusfooter {
    color: #2D3F2B;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
}

.socialmedia {
    font-size: 2rem;
    margin-top: 10px;
}