.box-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1 0 100%;
    width: 50%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

.box1 {
    background-color: #A7C087;
    color: #2D3F2B;
    display: block;
    text-align: center;
}

.box2 {
    background-color: #8E3C72;
    color: white;
    font-family: abel, arial, Arial, Helvetica, sans-serif;
}

form {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="subject"],
textarea {
    font-size: 18px;
    width: 40%;
}

input[type="message"],
textarea {
    width: 50%;
    height: 150px;
}

@media screen and (min-width: 800px) {
    .box {
        flex: 1;
    }
}

