.box-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1 0 100%;
    width: 98.5vw;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

.box1 {
    background-color: #A7C087;
    color: #2D3F2B;
}

@media screen and (min-width: 800px) {
    .box {
        flex: 1;
    }
}