.successfully {
    text-wrap: wrap;
    background-color: #A7C087;
    height: 500px;
    width: 98.5vw;
}

h2 {
    display: block;
    text-align: center;
    padding: 5%;
}

p {
    display: block;
    text-align: center;
}